body{
    background-color: silver;
}

#logo{
    width: 40vw;
    height: 170px;
    background: url("pixel-text-22-10-2024.png");
    background-size: cover;
    margin: auto;
}
#buttons_input_container{
    min-width: 39vw;
    max-width: 39vw;
    height: 45px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
button{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(115, 115, 115);
    color: whitesmoke;
    padding: 0 8px;
    font-size: 15px;
    font-weight: bold;
}
button:hover{
    background-color: whitesmoke;
    color: rgb(115, 115, 115);
    border: 1px solid black;
}
#inputColor{
    height: 100%;
}
#input{
    width: 280px;
    text-indent: 10px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid rgb(115, 115, 115);
}
#input::placeholder{
    text-indent: 10px;
    font-size: 20px;
    opacity: 50%;
}

#sentenceContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}
.wordContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.letterContainer{
    display: grid;
    grid-template-columns: repeat(7, 20px); /* 5 columns, each 20px wide */
    grid-template-rows: repeat(7, 20px); /* 7 rows, each 20px high */
    gap: 2px; /* small gap between pixels */
}
  .pixel {
    width: 20px;
    height: 20px;
    background-color: lightgray;
}

/* .active {
    background-color: black; 
}
.unique{
    background-color: red;
} */